a {
    text-decoration: none;
}
.header_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width:780px){
    .header_img{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: inherit;
    }
}

.edit{
    height: 30px;
    padding-top: 2px;
    border-radius: 20%;
}

.content {
    padding-top: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
