<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TechCorner | Change Password{% endblock %}</title>
</head>
<body>
    <h1 class="content">Login</h1><br>
        <div class="mb-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info">Change Password</button>
        </form>
        </div>
</body>
</html>

{% endblock %}